<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chaeset="UTF-8">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

</head>

<body>
    <div class="col-8 m-auto py-2 pb-2 " >
        <h1>Editar</h1>
     
    </div>
    <div class="col-8 m-auto py-2 pb-2 ">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>
    <div class="col-8 m-auto py-2 pb-2">

       <strong>Codigo livro </strong>{{db.cod_livro}}<br>
       <strong>ISBN </strong>{{db.ISBN}}<br>
       <strong>Tutilo </strong>{{db.Titulo_livro}}<br>
       <strong>Autor </strong>{{db.autor_livro}}<br>
       <strong>Edicao </strong>{{db.edicao_livro}}<br>
       <strong>Lancamento </strong>{{db.ano_lancamento}}<br>
       <strong>Biblioteca </strong>{{db.cod_biblioteca}}<br>
       <strong>Link </strong>{{db.link_livro}}<br>
       <strong>Status </strong>{{db.status_livro}}<br>


    </div>

</body>

</html>