<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chaeset="UTF-8">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

</head>

<body>
    <div class="col-8 m-auto py-2 pb-2 " >
        <h1>Cadastro</h1>
     
    </div>
    <div class="col-8 m-auto py-2 pb-2 ">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>
    <div class="col-8 m-auto py-2 pb-2 ">
        <div id="result" ></div>
       <form class="form" id="form" action="{% if db%}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
           {% csrf_token %}
        <div class="form-group mt-4 col-md-3"><b>Codigo livro</b>{{form.cod_livro}}</div>
        <div class="form-group mt-4 col-md-3"><b>ISBN</b>{{form.ISBN}}</div>
        <div class="form-group mt-4 col-md-3"><b>Tutilo</b>{{form.Titulo_livro}}</div>
        <div class="form-group mt-4 col-md-3"><b>Autor</b>{{form.autor_livro}}</div>
        <div class="form-group mt-4 col-md-3"><b>Edicao</b>{{form.edicao_livro}}</div>
        <div class="form-group mt-4 col-md-3"><b>Lancamento</b>{{form.ano_ancamento}}</div>
        <div class="form-group mt-4 col-md-3"><b>Biblioteca</b>{{form.cod_biblioteca}}</div>
        <div class="form-group mt-4 col-md-3"><b>Link</b>{{form.link_livro}}</div>
        <div class="form-group mt-4 col-md-3"><b>Status</b>{{form.status_livro}}</div>
        
        <input type="submit" class="btn btn-success" value="Salvar">
      
       </form>


    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>

</html>